.header {
    height: 45px;
    display: flex;
    justify-content: center;
    padding: 4px 10px ;
    margin: 0px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: gray;
}

.hamburguer-icon {
    width: 30px;
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translate( 0, -50%);
}

.middle-section {
    display: flex;
    align-items: center;
    min-width:222px;
    padding: 8px 10px 8px 10px;
}   

.header-logo-ime {
    width: 35px;
    position: absolute;
    right: 20px;
    z-index: -1;
}

.header-nav{
    width: 100%;
    padding: 8px 5px;
    transition: background-color 0.15s, letter-spacing 0.15s;
}

.header-nav:hover {
    background-color: rgb(125, 125, 125);
    letter-spacing: 0.8px;
}

#nav-sidebar a {
    text-decoration: none;
    color: black;
}

@media (max-width: 670px) {
}

/*Mudanças para a página do aluno*/

.header-perfil-icon {
    width: 40px;
    position: absolute;
    left: 60px;
    z-index: -1;
    border-radius: 50%;
}

