.header {
    height: 45px;
    display: flex;
    justify-content: space-between;
    padding: 4px 10px ;
    margin: 0px;
    border: 1px solid black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    z-index: 100;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: gray;
}

.left-section {
    background-color: lightblue;
    display: flex;
    align-items: center;
    min-width:222px;
    padding: 8px 10px 8px 10px;
}   

.right-section {
    background-color: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    min-width: 410px;
}

.header-logo-ime {
    width: 35px;
    position: absolute;
    left: 4px;
    z-index: -1;
}

.header-iniciativas, 
.header-login,
.header-engenharias{
    padding: 8px 12px;
    transition: background-color 0.15s;
}

.header-iniciativas:hover, 
.header-login:hover,
.header-engenharias:hover {
    background-color: rgb(125, 125, 125);
}

.right-section a {
    text-decoration: none;
    color: black;
}

@media (max-width: 670px) {
}
