.foto-ime-grid {
    background-color: lightblue;
    display: grid;
    grid-template-columns: 1fr;
}

.foto-ime-div {
    width: 100%;
}

.foto-ime{
    width: 100%;
}

.mapa{
    object-fit: contain;
    width: 100%;
}

.intercambio-div {
    background-color: rgba(15, 15, 15, 0.8);
    position: relative;
}

.info-image{
    width: 100%
}


.locator-info{
    display: flex;
    flex-direction: column;
    background-color: rgb(128, 128, 128);
    position:absolute;
    border: 2px groove black;
    width: 30vw;
    top: -20vw;
    left: 3vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.2s ease-in-out;
}

a {
    text-decoration: none;
}

.info-text{
    color: rgb(19, 4, 4);
}

.locator:hover .locator-info{
    z-index:100
}

.locator {
    background-color: blue;
    width: 0;
    height: 0;
    min-width: 1vw;
    min-height: 1vw;
    border-radius: 50%;
    cursor: pointer;
    z-index: 2;
    transition: all 0.2s ease-in-out;
}

.locator:hover{
    min-width: 2vw;
    min-height: 2vw;
}


#west-locator{
    position: absolute;
    top: 40.5%;
    left: 20%;
}

#west-locator:hover #west-info{
    opacity: 1;
    z-index: 100;
}

#ime-locator:hover #ime-info{
    opacity: 1;
    z-index: 100;
}

#texas-locator:hover #texas-info{
    opacity: 1;
    z-index: 100;
}

#paris-locator:hover #paris-info{
    opacity: 1;
}

#ime-locator{
    position: absolute;
    top: 62.5%;
    left: 28.5%;
}

#texas-locator {
    position: absolute;
    top: 43.5%;
    left: 10.6%;
}


#paris-locator {
    position: absolute;
    top: 38.5%;
    left: 41.5%;
    z-index: 0;
}

#iniciativas-title,
#engenharias-title,
#sobreoime-title,
#intercambio-title 
#sobre-o-ime-title {
    font-size: 20px;
}

.iniciativas-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    row-gap: 20px;
    column-gap: 15px;
}

.iniciativa-logo {
    width: 100%;
}

.engenharias-grid {
    background-color: red;
    display: grid;
    height: 350px;
    gap: 8px;
    grid-auto-flow:column;
    place-items: center;
    border: 15px double black;
}


.engenharias-grid a{
    display: block;
    width: 0;
    height: 0;
    min-width: calc(100% + 26px);
    min-height: 100%;
    cursor: pointer;
    clip-path: polygon(25px 0, 100% 0, calc(100% - 25px) 100%, 0 100%);
    transition: 0.5s;
}


.engenharia-logo {
    min-width: calc(100% + 26px);
    min-height: 100%;
    width: 100%;
    object-fit: cover;
}

#first-image{
    clip-path: polygon(0 0, 100% 0, calc(100% - 25px) 100%, 0 100%);
    place-self: start;
    min-width: calc(100% + 13px);
}  

#last-image {
    min-width: calc(100% + 13px);
    min-height: 100%;
    width: 0;
    height: 0;
    place-self: end;
    clip-path: polygon(26px 0, 100% 0,100%  100%, 0 100%);
    transition:0.5s;
}

#first-image:hover,
#last-image:hover,
.engenharia-div:hover {
    width: 20vw;
}

.texto-sobreoime,
.iniciativas-grid{
    padding: 5px 15px;
}

@media (max-width: 700px) {
    .iniciativas-grid{
        grid-template-columns: 1fr 1fr;
    }
}

@media (min-width: 1050px) {
    .iniciativas-grid {
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}
