#nav-sidebar {
    background-color: grey;
    position: fixed;
    left: 0;
    top: 54px;
    bottom: 0;
    width: 30%;
    min-width: 242px;
    padding: 10px 10px 0px 3px;
    opacity: 0;
    pointer-events:none;
    z-index: 200;
    -webkit-transition: opacity 150ms ease-in;
    -moz-transition: opacity 150ms ease-in;
    transition: opacity 150ms ease-in;
    border: 1px solid black;
}

#nav-sidebar:target {
    opacity: 1;
    pointer-events: auto;
}

#close-navbar {
    position: absolute;
    left: 4.8px;
    top: -38px;
    width: 50px;
    height: 20px;
    background-color: gray;
    border: none;
    box-shadow: none;
    font: 50px;
    font-weight: 600;   
}

#nav-email {
    font-size: 12px;
}