#nav-sidebar {
    background-color: red;
    position: fixed;
    left: 0;
    top: 53px;
    bottom: 0;
    width: 30%;
    min-width: 200px;
    padding: 10px 10px 0px 3px;
    opacity: 0;
    pointer-events:none;
    z-index: 200;
    -webkit-transition: opacity 150ms ease-in;
    -moz-transition: opacity 150ms ease-in;
    transition: opacity 150ms ease-in;
}

#nav-sidebar:target {
    opacity: 1;
    pointer-events: auto;
}

#close-navbar {
    position: absolute;
    left: 9px;
    top: -40px;
    width: 40px;
    background-color: gray;
    border: none;
    box-shadow: none;
    font: 50px;
    font-weight: 600;
}